
@{
    ViewBag.Title = "Error Page";
    Layout= null;
}
<link href = "~/better-life/assets/css/ace.min.css" rel = "stylesheet" />
<link href="~/better-life/assets/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <div class="col-md-6">
        <br />
        <div class="alert alert-warning">Có lỗi xảy ra vui lòng kiểm tra lại</div>
        <a href="javascript:;" class="btn btn-sm btn-danger" onclick="window.history.back();">Quay lại</a>
    </div>
</div>

