
@{
    Layout = null;
    ViewBag.Title = "Import Category";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    a{margin:5px;}
</style>
<p></p>
<div class="container" style="line-height:25px;">
    <a href="/Import/UpdateCategory/Rakuten" class="btn btn-lg btn-success">Update Category Rakuten</a>
    <a href="/Import/UpdateCategory/YahooAuction" class="btn btn-lg btn-primary">Update Category Yahoo Auction</a>
    <a href="/Import/UpdateCategory/YahooShopping" class="btn btn-lg btn-danger">Update Category Yahoo Shopping</a>
    <a href="/Import/UpdateCategory/Zozo" class="btn btn-lg btn-warning">Update Category Zozo</a>
    <a href="/Import/UpdateCategory/Amazon" class="btn btn-lg btn-info">Update Category Amazon</a>
</div>