<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table border="1" cellpadding="3" cellspacing="2" style="border-collapse:collapse" width="500">
        <thead>
            <tr>
                <th>Mã tracking</th>
                <th>Mã tách kiện</th>
                <th>Mã vạch</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3">Kiện {0}</th>
            </tr>
            {1}
        </tbody>
    </table>
</body>
</html>
