@model PagedList.IPagedList<TrackingDetail>
@using PagedList.Mvc;
@using PagedList;
@{
    var model = ViewBag.Model as PackageReturn;
}
@foreach (var tracking in Model)
{
    <tr>
        <td class="center">
            @if (model.StatusId != 16)
            {
                <label class="pos-rel">
                    <input id="@tracking.Id" data-id="@tracking.Id" data-parent="false" type="checkbox" class="ace" />
                    <span class="lbl"></span>
                </label>
            }
        </td>
        <td>@tracking.StorageJP.TrackingCode</td>
        <td>TH</td>
    </tr>
}
<tr>
    <td colspan="3">
        <div class="pagging storejp-pagging">
            @Html.PagedListPager(Model, page => Url.Action("PackageReturnJP", "Ajax", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
    </td>
</tr>
