
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #a94442;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
.delete-all-item{display:none;}
.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #ed1c24;
}

/* styles for validation helpers */
.field-validation-error {
    color: #ed1c24;
    font-weight: bold;
    font-size:12px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #ed1c24;
    background-color:#FFCCCC;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #ed1c24;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
