.box-item {
    background-color: #eee9e9;
    border-bottom: 1px solid #ffffff;
    padding: 5px;
    position: relative;
    margin-bottom: 5px;
    height: 60px;
}
.display-column {
    display: inline-block;
    position: absolute;
    right: 4px;
    top: -4px;
}
.btn-group > .btn, .btn-group > .btn + .btn {
    margin: 0px 0px 0px -1px;
}
.btn-group > .btn.btn-sm > .caret {
    margin-top: -1px;
    border-width: 4px;
}
.box-wasehouse:hover {
    background-color: #ffd800 !important;
}

.box-item:hover {
    background-color: #87b87f;
    color: #fff;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.control {
    display: none;
}

.kg-size {
    position: absolute;
    right: 40%;
    top: 30%;
    font-size: 12px;
    font-weight: bold;
}

.tracking {
    color: #d15b47;
    font-weight: bold;
    font-size: 12px;
}

.info-tracking {
    font-size: 12px;
    position: absolute;
    bottom: 2px;
    width: 98%;
}

.info-date {
    float: right;
}

.status {
    position: absolute;
    right: 5px;
    top: -2px;
}

.pagging {
    text-align: right;
    width: 100%;
    margin-top: -15px;
}

.action-item-jp {
    text-align: right;
    width: 100%;
}



.box-wasehouse {
    background-color: #f5eeee;
    padding: 5px;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    cursor: move;
}

.border {
    border: 1px solid #ff0000 !important;
}

.deny-product td {
    background-color: #f787e8;
}

.main-tracking td {
    background-color: #87b87f;
    color: white;
}

.main-tracking-footer td {
    background-color: #d15b47;
    color: white;
}

.conform-save {
    width: 32px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.conform-close {
    width: 32px;
    margin-top: 20px;
    cursor: pointer;
}

.se-pre-con {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    text-align: center;
}

.wasehouse-info {
    position: relative;
}

.conform-ischeck {
    position: absolute;
    top: 6px;
    left: 22px;
    color: white;
}
/*error tracking table*/
.header-error {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    margin-top: 55px;
    margin-bottom: 10px;
}

.error-items {
}

.error-items .head {
    width: inherit;
}

.error-items .head .tracking-code {
    background-color: #87b87f;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.body-error-content {
    height: 383px;
    overflow-x: hidden;
    float: left;
    width: 100%;
}
.error-items .head .error-code-number {
    background-color: #87b87f;
    color: black;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-left: 6px solid white;
}

.error-item-code-number{
    border-left: 6px solid white;
}
.error-items .body .item-error:nth-child(2n) .tracking-item-code,.error-items .body .item-error:nth-child(2n) .error-item-code-number{
    background-color: #dddddd;
    font-size: 13px;
    padding: 7px;
    text-align: center;
}
.error-items .body .item-error:nth-child(2n+1) .tracking-item-code,.error-items .body .item-error:nth-child(2n+1) .error-item-code-number{
    background-color: #f5eeee;
    font-size: 13px;
    padding: 7px;
    text-align: center;
}
.error-item-code-number{
    color:#cb6fd7 !important;
}
