@model StorageJP

@{
    Layout = "~/Views/Shared/_LayoutNewCRUD.cshtml";
}
<div class="body">
    <div class="head">
        <div class="head-center title">
            Import lưu kho
        </div>
        <span class="close-package">x</span>
    </div>
    <div class="content content-import">
        @using (Html.BeginForm("StorageJP", "Import", FormMethod.Post, new { enctype = "multipart/form-data", @role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="warning-message">
                Vui lòng sau lưu dữ liệu trước khi thực hiện chức năng này
            </div>
            <div class="file">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                </div>
                <input type="file" class="fileImport" name="fileImport" id="fileImport">
            </div>
            <div>
                @*<div class="col-md-4">
                        <input type="radio" id="option-new" value="1" name="option" checked /> <label for="option-new">New</label>
                        <input style="margin-left:10px;" type="radio" id="option-overwrite" value="2" name="option" /> <label for="option-overwrite">Overwrite</label>
                    </div>*@
                <div class="col-md-12">
                    <input type="hidden" value="@Model.Id" name="id" id="StorageJP" />
                    @if (Model.StorageItemJPs.Count > 0)
                    {
                        <a href="/Export/StorageJP/@Model.Id" class="btn-backup btn-button btn btn-sm btn-danger tt-margin-right tt-width-button">Sao lưu</a>
                        <button type="button" style="display:none;" class="btn-import btn-button btn btn-sm btn-success tt-margin-right tt-width-button">Chọn tệp</button>
                        <button type="button" class="btn-action-import btn-button btn btn-sm btn-success tt-margin-right tt-width-button">Tải lên</button>
                    }
                    else
                    {
                        <button type="button" class="btn-import btn-button btn btn-sm btn-success tt-margin-right tt-width-button">Chọn tệp</button>
                        <button type="button" class="btn-action-import btn-button btn btn-sm btn-success tt-margin-right tt-width-button">Tải lên</button>
                    }
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script src="~/Scripts/uploadfile_storejp.js"></script>
}