body {
	font-family: tahoma;
	margin: 0;
	padding: 0;
}

.hidden {
  display: none !important; }

#wrapper {
	width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.cart_title {
	color: orange;
}

.ex_rate {
	float: right;
	font-size: 18px;
}

.ex_rate b{
	color: orange;
}

table.cart_info, 
.cart_info th, 
.cart_info td {
    border: 1px solid black;
    border-collapse: collapse;
}

.cart_info th, 
.cart_info td {
    padding: 5px;
}

.cart_info th {
	background: orange;
}

.cart_info {
	clear: both;
}

.cart_sum {
	font-weight: bold;
	text-align: center;
	font-size: 14px;
}

.cart_charges {
	float: right;
	margin: 15px 0;
}

.cart_charges th, 
.cart_charges td {
	width: 120px;
	text-align: right;
    padding: 5px;
}

.partner {
	float: right;
}

.cart_button {
	clear: both;
	float: right;
}

button {
	height: 30px;
	margin-right: 15px;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

button i {
	font-size: 18px !important;
}

.clearall{
	background: #ed1b24;
}

.clearall:active {
	background: #0099ff;
}

.checkout{
	background: #0099ff;
}

.checkout:active {
	background: #ed1b24;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ed1b24;
    color: white;
}

.modal-body {
	padding: 16px 16px;
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.modal-body table {
	width: 100%;
}

.modal-body table td {
	vertical-align: top;
	height: 50px;
}

.modal-body input[type="text"],
.modal-body textarea {
	width: 100%;
	border-radius: 3px;
	border: thin solid #ed1b24;
	padding: 5px;
}

.modal-body input[type="text"] {
	height: 20px;	
}

.modal-footer {
    padding: 16px 16px;
    background-color: #ed1b24;
    color: white;
    text-align: right;
}