@model PagedList.IPagedList<StorageJP>
@using PagedList.Mvc;
@using PagedList;
@{ var PageUtils = new PageUtils(); UserPage user = new UserPage();}
<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="/">Trang chủ</a>
        </li>

        <li>
            <a href="/StorageJP">Lưu kho JP</a>
        </li>
        <li class="active">Danh sách lưu kho</li>
    </ul>
</div>

<div class="page-content">
    <div class="row">

        <div class="package warehouse col-md-12">
            <div class="package_header warehouse_header">
                <div class="status_notes">
                    <div class="status_note bg-red">Đã nhận</div>
                    <div class="status_note bg-orange">Đang kiểm</div>
                    <div class="status_note bg-blue">Đã kiểm</div>
                </div>
                <a href="/Import/StorageJPFull" class="import-item-btn shipment_item-ixport" title="Import">
                    <i class="fa fa-arrow-down"></i>
                </a>
                <a href="#" data-href="/Export/StorageJPFull" class="export-item-btn shipment_item-export" title="Export" style="display:none;">
                    <i class="fa fa-arrow-up"></i>
                </a>
                <a href="/StorageJP/Add" class="storejp_add add-item-btn">
                    <i class="fa fa-plus"></i>
                </a>
                <div class="storejp_add_body"></div>
            </div>
            @*<div class="package_content">
                    <div class="package_item-wrap storejp-content">
                        @{Html.RenderPartial("_ItemOfPage", Model); }
                    </div>
                </div>*@
            <div class="package_content">
                <div class="package_item-wrap storejp-content">
                    <table id="storejp-table">
                        <thead>
                            <tr class="sort-row">
                                <th style="width:50px;"></th>
                                <th class="sort-column" data-sort="tracking-asc">
                                    MÃ TRACKING &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th style="width:50px;"></th>
                                <th class="trackingsub-column" data-sort="trackingsub-asc">
                                    KIỆN CON &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th>
                                    XUẤT/TRẢ
                                </th>
                                <th data-sort="weigh-asc">
                                    KL (KG) &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th data-sort="size-asc">
                                    KÍCH THƯỚC &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th data-sort="date-asc">
                                    NGÀY NHẬN &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th data-sort="hour-asc">
                                    GIỜ NHẬN &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th style="width:155px;" data-sort="status-asc">
                                    TRẠNG THÁI &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th data-sort="notes-asc">
                                    GHI CHÚ &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                                <th data-sort="errorcontent-asc">
                                    LỖI ND &nbsp;<span class="sort sort-asc"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></span>
                                    <span class="sort sort-desc"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></span>
                                </th>
                            </tr>
                            <tr class="filter-jp">
                                <th></th>
                                <th><input class="form-control" /></th>
                                <th></th>
                                <th><input class="form-control" /></th>
                                <th></th>
                                <th><input class="form-control" /></th>
                                <th><input class="form-control" /></th>
                                <th class="datepicker" style="position:relative;"><input class="form-control" /></th>
                                <th><input class="form-control" /></th>
                                <th>
                                    <select class="form-control">
                                        <option value="0">Tất cả</option>
                                        <option value="6">Đã nhận</option>
                                        <option value="7">Đang kiểm</option>
                                        <option value="8">Đã kiểm</option>
                                    </select>
                                </th>
                                <th><input class="form-control" /></th>
                                <th><input class="form-control" /></th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                            @{Html.RenderPartial("_ItemOfPage", Model); }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="">
            <div class="col-xs-12 wasehouse-info"></div>
        </div>
    </div>
</div>
<input type="hidden" value="created-desc" id="sort-jp" />
<input type="hidden" value="" id="StoreJPId" />
<input type="hidden" value="@Request["id"]" id="RequestId" />
@section scripts{
    <link href="~/Content/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/storejp.css" rel="stylesheet" />
    <link href="~/Content/storejp-index.css" rel="stylesheet" />
    <!--Update script từ đây-->
    <!--Selectpicker-->
    <link href="~/HTML/bootstrap-select.css" rel="stylesheet" />
    <script src="~/HTML/bootstrap-select.js"></script>
    <!--Scroll-->
    <script src="~/HTML/jquery.slimscroll.js"></script>
    <script src="~/HTML/jquery.nicescroll.js"></script>
    <!--Pagination-->
    <script src="~/Scripts/storejp.js"></script>
    <script src="~/Scripts/storejp-index.js"></script>
}